@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url("font/OpenSans-ExtraBold.ttf");
  font-weight : normal;
  font-style  : normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("font/OpenSans-Regular.ttf");
  font-weight : normal;
  font-style  : normal;
}

/* guides 
***********************************/
body.home {

}

body.portfolio {

}

div.noise {
	background-image    : url('images/pattern_bg.png');
	background-repeat   : repeat;
	background-position : left top;
	position            : fixed;
	top                 : 0;
	left                : 0;
	bottom              : 0;
	right               : 0;
	z-index             : -1;
}

body div.backimg {
	position              : fixed;
	top                   : 0;
	left                  : 0;
	bottom                : 0;
	right                 : 0;
	background-size       : cover;
	background-attachment : fixed;
	z-index               : -2;
}

body.home div.backimg {
	background-image      : url('images/background.png');
}

body.portfolio div.backimg {
	background-image      : url('images/background.png');
}

/* Header
***********************************/

div.header-container {
	min-height : 90px;
	background       : rgb(0,0,0); /* The Fallback */
	background-color : rgba(0,0,0,0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);  /*For IE*/
}

header {
	width      : 950px;
	min-height : 90px;
	margin     : 0 auto; 
}

nav {
	width    : 950px;
	position : relative;
}

nav h1.logo {
	position : absolute;
	left     : 0;
	top      : 0;
	background-color : #000;
}

nav h1.logo a {
	text-transform : capitalize;
	text-decoration: none;
	font-family    : Helvetica, sans-serif;
	display        : block;
	padding        : 30px;
	color          : #aaa;
}

menu {
	width  : 520px;
	margin : 0 auto;
}

nav li {
	float : left;
	padding : 40px 0 0 20px;
	margin-left : 50px;
	background-image : url('images/tools/slash.png');
	background-repeat: no-repeat;
	background-position : left top;
}

nav li:first-child {
	margin-left : 0;
}

nav li a {
	text-transform : uppercase;
	text-decoration: none;
	font-family    : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 15px;
	display   : block;
	color     : #aaa;
	-webkit-transition :  200ms ease-in;
	-moz-transition    :  200ms ease-in;
	-o-transition      :  200ms ease-in;
	-ms-transition     :  200ms ease-in;
}

nav li a.active {
	color : #FFF;
}

nav li a:hover {
	color : #FFF;
	-webkit-transition :  200ms ease-in;
	-moz-transition    :  200ms ease-in;
	-o-transition      :  200ms ease-in;
	-ms-transition     :  200ms ease-in;
}
/* Content
***********************************/

div.content-container {
	position   : relative;
	width      : 970px;
	min-height : 500px;
	margin     : 0 auto;
}

body > div.content h1 {

	font-weight    : bold;
	text-shadow    : 0px 0px 0 rgb(216,216,216),1px 1px 0 rgb(187,187,187),2px 2px 0 rgb(158,158,158), 3px 3px 0 rgb(129,129,129),4px 4px 3px rgba(0,0,0,0.45),4px 4px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);
	color          : white;
	margin         : 80px 0 20px 0;
	font           : 65px "OpenSans-ExtraBold", Arial, Helvetica, Geneva, sans-serif;
	text-align     : center;
	text-transform : capitalize;
}

body > div.content div.links {
	width    : 348px;
	margin   : 70px auto;
}
body.home > div.content ul li {
	margin-left   : 20px;
	float         : left;
	text-align    : center;
	font          : 15px "OpenSans-Regular", Arial, Helvetica, Geneva, sans-serif;
	color         : #FFF;
	text-transform: capitalize;
	/*text-shadow   : 0px 1px 3px rgba(0,0,0,0.2);*/
}

body.home > div.content h3 {
	text-align    : center;
	margin        : 50px 0;
	font          : 15px "OpenSans-Regular", Arial, Helvetica, Geneva, sans-serif;
	color         : #FFF;
} 

body.home > div.content ul li a {
	margin-bottom   : 10px;
	display         : block;
	width           : 72px;
	height          : 72px;
	border-radius   : 36px;
	background-image: url('images/links.png');
}

body.home > div.content ul li.facebook {
	margin-left : 0;
}

body.home > div.content ul li.facebook a {
	background-position : -2px 0;
}

body.home > div.content ul li.flickr a {
	background-position : -74px 0;
}

body.home > div.content ul li.twitter a {
	background-position : -146px 0;
}

body.home > div.content ul li.google a {
	background-position : -218px 0;
}

body.home > div.content ul li.facebook a:hover {
	background-position : 0px -72px;
}

body.home > div.content ul li.flickr a:hover {
	background-position : -72px -72px;
}

body.home > div.content ul li.twitter a:hover {
	background-position : -144px -72px;
}

body.home > div.content ul li.google a:hover {
	background-position : -216px -72px;
}

body.home > div.content ul li a:hover {
	background-position-Y : -72px;
}


body > div.content h2 {
	font           : 30px "OpenSans-Regular", Arial, Helvetica, Geneva, sans-serif;
	font-weight    : 600;
	color          : #FFF;
	text-align     : center;
	text-shadow    : 0px 1px 3px rgba(0,0,0,0.2);
	text-transform : uppercase;
}

div.content {
	width 	    : 900px;
	min-height  : 500px;
	margin      : 0 auto;
	overflow	: hidden;
	position    : relative;
}

div.content div.train {
	width 	 : 3000px;
	height   : 400px;
	position : absolute;
	top      : 70px;
	left     : 0;
	-webkit-transition :  300ms ease-in;
	-moz-transition    :  200ms ease-in;
	-o-transition      :  200ms ease-in;
	-ms-transition     :  200ms ease-in;
}

div.content div.train > div {
	float : left;
	width : 900px;
	height: 440px;
}

div.content div.train > div > div {
	float : left;
	width : 172px;
	height: 100px;
	margin : 0 8px 10px 0;
	background-repeat : no-repeat;
	background-size   : 100% 100%; /* does not work in IE */
	-webkit-transition : 1500ms;
	-moz-transition    : 1500ms;
	-o-transition      : 1500ms;
	-ms-transition     : 1500ms;
	opacity : 0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}

div.content div.train > div > div > a {
	display : block;
	width   : inherit;
	height  : inherit;
	position: relative;
	overflow: hidden;
}

div.content div.train > div > div > a > span {
	display 	: block;
	position	: absolute;
	top     	: 100%;
	left    	: 0;
	width 		: inherit;
	height  	: 50px;
	background       : #000; /* The Fallback */
	background-color : rgba(0,0,0,0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);  /*For IE*/
	-webkit-transition :  100ms ease-in;
	-moz-transition    :  100ms ease-in;
	-o-transition      :  100ms ease-in;
	-ms-transition     :  100ms ease-in;
}

div.content div.train > div > div:hover {
	opacity : 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	-webkit-transition : 0;
	-moz-transition    : 0;
	-o-transition      : 0;
	-ms-transition     : 0;
}



div.content div.train > div > div > a:hover > span {
	top  : 50px;
}

div.next , div.previous {
	position : absolute;
	width    : 100px;
	height   : 400px;
	cursor   : pointer;
	z-index  : 2;
	opacity  : 0.5;
	background-repeat : no-repeat;
	background-position : center center;
}

div.next {
	background-image : url('images/tools/nxt.png');
	right     : 0;
}

div.previous {
	background-image : url('images/tools/prv.png');
	left      : 0;
}

div.next:hover , div.previous:hover {
	opacity  : 1;
}
/* Footer
***********************************/

footer {
	min-height : 40px;
	background       : rgb(0,0,0); /* The Fallback */
	background-color : rgba(0,0,0,0.5);
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);  /*For IE*/*/
}

footer div.footer{
	width 	   : 950px;
	min-height : 40px;
	margin     : 0 auto; 
}

/* Contact page
--------------------------------- */


div.map , div.form {
	width : 430px;
	height: 450px;
}

div.map {
	border : 1px dashed yellow;
}

div.map , div.form > form > * {
	margin : 0 0 10px 20px;
	font   : 17px "Comic Sans MS";
	background-repeat: no-repeat;
}

div.form textarea {
	width   : 270px;
	background-color : #000;
	background-color : rgba(0,0,0,0.5);
	color            : yellow;
	background-image : url('images/contact.png');
	background-position : 0 -75px;
	padding-left : 30px;
	border  : 1px dashed yellow;

}

div.form input[type="text"] {
	border  : 1px dashed yellow;
	width   : 270px;
	height  : 25px;
	color   : yellow;
	background-color : #000;
	background-image : url('images/contact.png');
	background-color : rgba(0,0,0,0.5);
	padding-left        : 30px;
}

div.form input[name="mail"] {
	background-position : 0 -25px;
}

div.form input[name="phone"] {
	background-position : 0 -50px;
}

div.form input[type="submit"] {
	margin-left : 180px;
}