/* guides 
***********************************/
body {
	background-image      : url('images/pattern_bg.png'),url('images/background.png'); /*does not work in IE*/
	background-repeat     : repeat;
	background-position   : top left;
	background-attachment : fixed,fixed;
}

/* Header
***********************************/

div.header-container {
	min-height : 90px;
	background       : rgb(0,0,0); /* The Fallback */
	background-color : rgba(0,0,0,0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);  /*For IE*/
}

header {
	width      : 950px;
	min-height : 90px;
	margin     : 0 auto; 
}

nav {
	width    : 950px;
	position : relative;
}

nav h1.logo {
	position : absolute;
	left     : 0;
	top      : 0;
	background-color : #000;
}

nav h1.logo a {
	text-transform : capitalize;
	text-decoration: none;
	font-family    : Helvetica, sans-serif;
	display        : block;
	padding        : 30px;
	color          : #aaa;
}

menu {
	width  : 520px;
	margin : 0 auto;
}

nav li {
	float : left;
	padding : 40px 0 0 20px;
	margin-left : 50px;
	background-image : url('images/tools/slash.png');
	background-repeat: no-repeat;
	background-position : left top;
}

nav li:first-child {
	margin-left : 0;
}

nav li a {
	text-transform : uppercase;
	text-decoration: none;
	font-family    : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 15px;
	display : block;
	color   : #aaa;
}

nav li:hover {
	background-position : 0 -61px;

}


nav li a:hover {
	color : #FFF;
}
/* Content
***********************************/

div.content-container {
	min-height : 500px;
}

div.content {
	width 	    : 950px;
	min-height  : 500px;
	margin      : 0 auto;
	overflow	: hidden;
	position    : relative;
}

div.content div.train {
	width 	 : 3800px;
	height   : 400px;
	position : absolute;
	top  : 70px;
	left : 0;
}

div.content div.train > div {
	float : left;
	width : 950px;
	height: 400px;
}

div.content div.train > div > div {
	float : left;
	width : 150px;
	height: 90px;
	margin : 0 8px 10px 0;
	background-repeat : no-repeat;
	background-size   : 100% 100%;
	-webkit-transition : 1500ms;
	-moz-transition    : 1500ms;
	-o-transition      : 1500ms;
	-ms-transition     : 1500ms;
	opacity : 0.5;
}

div.content div.train > div > div > a {
	display : block;
	width   : 150px;
	height  : 90px;
	position: relative;
	overflow: hidden;
}

div.content div.train > div > div > a > span {
	display 	: block;
	position	: absolute;
	top     	: 100%;
	left    	: 0;
	width 		: 100%;
	height  	: 50px;
	background       : #000; /* The Fallback */
	background-color : rgba(0,0,0,0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);  /*For IE*/
	-webkit-transition :  100ms ease-in;
	-moz-transition    :  100ms ease-in;
	-o-transition      :  100ms ease-in;
	-ms-transition     :  100ms ease-in;
}

div.content div.train > div > div:hover {
	opacity : 1;
	-webkit-transition : 0;
	-moz-transition    : 0;
	-o-transition      : 0;
	-ms-transition     : 0;
}



div.content div.train > div > div > a:hover > span {
	top  : 50px;
}

div.next , div.previous {
	position : absolute;
	top 	 : 300px;
	width    : 95px;
	height   : 90px;
	cursor   : pointer;
	z-index  : 2;
}

div.next {
	right     : 40px;
	background-image : url('images/tools/nxt.png');
}

div.previous {
	background-image : url('images/tools/prv.png');
	left      : 40px;
}
/* Footer
***********************************/

footer {
	min-height : 40px;
	background       : rgb(0,0,0); /* The Fallback */
	background-color : rgba(0,0,0,0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);  /*For IE*/
}

footer div.footer{
	width 	   : 950px;
	min-height : 40px;
	margin     : 0 auto; 

}